.main {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.title h2 {
  color: #FF9009;
}

.status {
  display: flex;
  justify-content: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 1.125rem;
}

.status .player-status {
  flex-grow: 1;
}

.status .versus {
  flex-shrink: 1;
}

.status span {
  margin: 0 1.5rem;
  line-height: 2.2;
}

.status .player-1 {
  color: #00C96D;
  text-align: right;
}

.status .player-2 {
  color: #DC1434;
  text-align: left;
}

.avatar {
  height: 30px;
  border-radius: 30px;
  padding: 0.5rem;
}

.avatar-1 {
  background-color: #00C96D;
  width: 30px;
}

.avatar-2 {
  background-color: #DC1434;
}

.game {
  margin: 3rem auto;
}

.game table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.game table,
.game td {
  border: 1px solid black;
}
